MYSQL_DATABASE=partition_mate
MYSQL_ROOT_PASSWORD=qwe123
MYSQL_PORT=3306

DB_URL=jdbc:mysql://localhost:3306/partition_mate?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=qwe123

JWT_SECRET_KEY=local_dev_secret_key_for_partition_mate_12345678901234567890
